<div class="container">
  <div class="row">
    <div class="mx-auto">
      <p><h1>About</h1></p>
    </div>    <div class="w-100"></div>
    <div class="mx-auto">
      <p><strong>ながのCAKEは全国発送可能なケーキ屋さんです。</strong></p>
    </div>    <div class="w-100"></div>
    <div class="mx-auto">
      <p><strong>お子様からお年寄りの方までお召し上がりいただけるよう、</strong></p>
    </div>    <div class="w-100"></div>
    <div class="mx-auto">
      <p><strong>様々なバリエーションをご用意しています。</strong></p>
    </div>    <div class="w-100"></div>
    <div class="mx-auto">
      <p><strong>また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</strong></p>
    </div>    <div class="w-100"></div>
    <div class="mx-auto">
      <p><strong>ぜひご注文ください。</strong></p>
    </div>
  </div>
 </div>