<div class="container">

  <div class="row align-items-center">
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="w-100">　</div>
    <div class="col">　</div>
    <div class="col">
      <h4>ご注文ありがとうございました!</h4>
    </div>
    <div class="col">　</div>
  </div>

</div>